.suggested-container {
    background-color: var(--white);
    border-color: var(--container-border);
    box-shadow: var(--container-box-shadow);
    position: fixed;
    top: 6em;
    left: 0;
    right: 0;
    width: 80%;
    height: 250px;
    margin: auto;
    display: flex;
    padding: 1em;
    border-radius: 5px;
}

.suggested-container:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    top: -26px;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border: 0;
    border-left: var(--container-border);
    border-top: var(--container-border);
    background-color: var(--white);
    z-index: -1;
}

.suggested-container-child {
    box-sizing: border-box;
}

.suggested-container-names {
    width: 100%;
}

.suggested-container-products {
    display: none;
}

@media screen and (min-width: 540px) {
    .suggested-container-names {
        width: 40%;
        border-right: var(--container-border);
    }
    .suggested-container-products {
        display: block;
        width: 60%;
    }
}
