.slick-slider {
  .slick-arrow {
    z-index: 2;
    &.slick-prev {
      left: 5px;
    }
    &.slick-next {
      right: 5px;
    }
  }
  .slick-list {
    .item {
      background: #EEE no-repeat center;
      background-size: auto;
      display: block;
      height: 250px;
      text-decoration: none;
      width: 100%;
    }
  }
}