.col-item {
  border: 1px solid #E1E1E1;
  background: #FFF;
  display: block;
  margin-bottom: 12px;
  position: relative;
  .badge-primary {
    color: #fff;
    background-color: #126ccd;
  }
  .badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
  }
  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .options {
    position: absolute;
    top: 6px;
    right: 22px;
    button:first-child {
      margin-right: 5px;
    }
  }
  .photo {
    overflow: hidden;
    position: relative;
    .badge {
      position: absolute;
      bottom: 13px;
      left: 5px;
    }
    img {
      border-bottom: 1px solid #E1E1E1;
      margin: 0 auto;
      min-height: 253px;
      width: 100%;
    }
  }
  .options-cart {
    position: absolute;
    left: 22px;
    top: 6px;
    display: none;
  }
  .info {
    padding:0 10px 10px;
    margin-top: 1px;
  }
  .price-details {
    width: 100%;
    margin-top: 5px;
    h1 {
      margin: 0 0 .2em;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      min-height: 2em;
      font-size: .875em;
      line-height: normal;
      font-weight: 400;
      color: #666;
    }
    .details {
      margin: 0;
      font-size: 12px;
    }
    .price-new {
      display: block;
      margin: 0;
      font-size: 1.125em;
      line-height: 1.2;
      color: #333;
      font-weight: 700;
      white-space: nowrap;
    }
  }
  .clear-left {
    clear: left;
  }
}