:root {
    --site-bg-color: #e4f0f9;
    --primary-bg-color: #0077cc;
    --secondary-bg-color: #7db9e5;
    --text-color: #00365d;
    --text-color--hover: #006bb7;
    --container-border: 1px solid #c6e1f3;
    --container-border--hover: 1px solid #4a9eda;
    --container-box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    --white: #fff;
    --blue1: #c6e1f3;
    --blue2: #a5cfed;
    --blue4: #4a9eda;
    --blue7: #005da0;
    --blue8: #004d84;
}
