:root {
  --site-bg-color: #e4f0f9;
  --primary-bg-color: #0077cc;
  --secondary-bg-color: #7db9e5;
  --text-color: #00365d;

  --white: #fff;

  --blue1: #c6e1f3;
  --blue2: #a5cfed;
  --blue4: #4a9eda;
  --blue6: #006bb7;
  --blue7: #005da0;
  --blue8: #004d84;
}
